.application {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    font-family: 'Raleway', sans-serif;
    align-self: center;

    width: 100%;
    max-width: 800px;
    height: 100%;

    overflow: hidden;
    transition: all ease 400ms;
}

.application__fixed {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    position: relative;
    width: 100%;

    padding: 1rem;

    transition: all ease 400ms;
}

.application__list {
    display: flex;
    flex: 2;

    position: relative;

    overflow: scroll;
    transition: all ease 400ms;
}

@media screen and (min-width: 31.25rem) {
    .application {
        padding: 1rem;

    }
    .application__fixed {
        flex: 1 0;
        padding: 0;

    }
    .application__list {
        flex: 2 0;
    }   
}

