button {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    border: none;
}

.list__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 1rem;

    height: 100%;
    padding: 1rem;
    overflow: scroll;
    margin-bottom: 1rem;
    scrollbar-width: none;
}

.list__item {
    display: flex;
    flex: 1;

    list-style: none;
    min-width: 100%;

    background-color: rgb(237, 237, 237);
    border-radius: 1rem;
    border: 2px solid transparent;

    cursor: pointer;
    transition: all ease 300ms;

    /* box-shadow: 0 0 .5rem gray; */
}

.list__item button {
    display: flex;
    flex-direction: column;
    flex: 1 1 10rem;
    justify-content: space-between;

    height: 100%;
    padding: 1rem;
    border-radius: inherit;

    font-size: 1.4rem;
    background-color: transparent;
    line-height: 1.5;

    transition: all ease 300ms;
}

.list__item button:hover {
    background-color: rgb(225, 241, 255);

    cursor: pointer;
    transition: all ease 300ms;
}

.list__item button:focus {
    box-shadow: 0 0 .5rem black;
}


.list__description {
    justify-self: flex-start;

    margin-bottom: 1rem;

    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.list__author {
    align-self: flex-end;
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 31.25rem) {
    .list__container {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-gap: 1rem;
        padding: 1rem 0;
        width: 100%;
        overflow: none;
    }
}